@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    text-align: center;
    padding: 7px;
    margin: 0px;
    border-radius: 12px
}

p {
    text-align: center;
    padding: 7px;
    margin: 0px;
    border-radius: 12px
}

div {
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2605a9;
    color: #9c98ec;
}

* {
    box-sizing: border-box;
}

.sidenav {
    position: fixed;
    left: 0px; top: 0px; bottom: 0px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    overflow-x: hidden;
}


.sidenav a {
    color: #fff;
    padding: 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    transition: 0.05s;
}


.sidenav a:hover {
    background-color: #075d04;
}


.content {
    position: fixed;
    left: 200px; right: 0px;
    bottom: 0px; top: 0px;
    padding: 16px;
}

img {
    border: 2px solid #3a3a3a;
}
a {
    color: #fff;
}

a:hover {
    color: #096357;
}

a:active {
    color: #777;
}

button {
    border-radius: 4px;

}